.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/.name
/.idea/copyright
/.idea/dictionaries
.DS_Store
/build
/docs

gradle-mvn-push.gradle
gradle.tasks.txt

*.iml
*.apk

.gradle.tasks.txt
projectFilesBackup/
.idea/inspectionProfiles/Project_Default.xml
.idea/encodings.xml
.idea/codeStyles/Project.xml
.idea/caches/build_file_checksums.ser
.idea/workspace.xml___jb_tmp___
.idea/workspace.xml___jb_old___
app/src/main/java/com/obsez/android/lib/smbfilechooser/demo/App.java___jb_tmp___
library/src/main/java/com/obsez/android/lib/smbfilechooser/SmbFileChooserDialog.java___jb_tmp___
app/src/main/java/com/obsez/android/lib/smbfilechooser/demo/ChooseFileActivityFragment.java___jb_tmp___
